{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class='d-flex justify-content-center'>
    {% if category.id == 1 %}
    <img src="{% static 'images/나이키.png' %}" class='rounded-pill' style="width: 150px; height: 150px;" alt="...">
    {% elif category.id == 2 %}
    <img src="{% static 'images/아디다스.jpg' %}" class='rounded-pill' style="width: 150px; height: 150px;" alt="...">
    {% elif category.id == 3 %}
    <img src="{% static 'images/뉴발란스.jfif' %}" class='rounded-pill' style="width: 150px; height: 150px;" alt="...">
    {% elif category.id == 4 %}
    <img src="{% static 'images/jordan.png' %}" class='rounded-pill' style="width: 150px; height: 150px;" alt="...">
    {% endif %}
</div>
<div class='text-center'>
    <h3 class="text-center p-2">{{ category.name }}</h3>
    {% if request.user.is_authenticated %}
        {% if request.user in category.category_followers.all %}
        <span id='follow' data-category-id='{{ category.pk }}' class='btn btn-outline-primary mb-2'>팔로우 취소</span>
        {% else %}
        <span id='follow' data-category-id='{{ category.pk }}' class='btn btn-primary mb-2'>팔로우</span>
        {% endif %}
    {% endif %}
    <p class="text-center pb-2"><span class="mx-2">게시물 <b>{{ category.category_articles.count }}</b></span><span class="mx-2">팔로워 <b id='followers'>{{ category.category_followers.count }}</b></span></p>
</div>
<div class='container'>
    <div class='row'>
    {% for article in category_articles %}
        <div class='col-6 col-sm-3'>
            {% if article.articles_image.all|length %}
                {% for image in article.articles_image.all %}
                {% if forloop.counter == 1 %}
                <a href="{% url 'articles:detail' article.pk %}"><img src="{{ image.image.url }}" alt="{{ image.image }}" class="rounded-4" style='width:100%;'></a>
                {% endif %}
                {% endfor %}
            {% else %}
            <a href="{% url 'articles:detail' article.pk %}"><img src="{% static 'images/6c757d.jpg' %}" alt="" class="rounded-4" style='width:100%;'></a>
            {% endif %}
            <div class='justify-content-center'>
                <span><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart-fill mx-2" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
                </svg>{{ article.like_users.count }}</span>
                <span><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chat mx-2" viewBox="0 0 16 16">
                    <path d="M2.678 11.894a1 1 0 0 1 .287.801 10.97 10.97 0 0 1-.398 2c1.395-.323 2.247-.697 2.634-.893a1 1 0 0 1 .71-.074A8.06 8.06 0 0 0 8 14c3.996 0 7-2.807 7-6 0-3.192-3.004-6-7-6S1 4.808 1 8c0 1.468.617 2.83 1.678 3.894zm-.493 3.905a21.682 21.682 0 0 1-.713.129c-.2.032-.352-.176-.273-.362a9.68 9.68 0 0 0 .244-.637l.003-.01c.248-.72.45-1.548.524-2.319C.743 11.37 0 9.76 0 8c0-3.866 3.582-7 8-7s8 3.134 8 7-3.582 7-8 7a9.06 9.06 0 0 1-2.347-.306c-.52.263-1.639.742-3.468 1.105z"/>
                </svg>{{ article.comment_set.count }}</span>
            </div>
        </div>
    {% endfor %}
    </div>
</div>
{% endblock %}
{% block script1 %}
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <script>
        const followBtn = document.querySelector('#follow')
        followBtn.addEventListener('click', function(event) {
            console.log(event.target.dataset)
            axios({
                method: 'get',
                url: `/articles/${event.target.dataset.categoryId}/follow/`
            })
            .then(response => {
                if (response.data.categoryFollow === true) {
                    event.target.classList.remove('btn-primary')
                    event.target.classList.add('btn-outline-primary')
                    followBtn.innerText= '팔로우 취소'
                } else {
                    event.target.classList.remove('btn-outline-primary')
                    event.target.classList.add('btn-primary')
                    followBtn.innerText='팔로우'
                }
                const followers = document.querySelector('#followers')
                followers.innerText = response.data.followCount

            })
        })
    </script>
{% endblock script1 %}