{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}
{% block content %}
<div class="text-center my-5"><h1>shoessu jeong</h1></div>

<div class="container">
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {% bootstrap_form article_form %}

        <div class="d-flex justify-content-between">
            <input type="file" name="image" style="cursor:pointer;" multiple>
            <input type="submit" value="작성하기" class="btn btn-primary">
        </div>
    </form>
</div>
{% endblock %}